@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: #000000;
    font-weight: 300;
}


.home-bg {
    background-image: url(../images/1-he-zhu-1YODHOIj46Q-unsplash.jpg);
    background-color: #C7C8C0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Comfortaa, sans-serif;
    color: #000000;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.yellow {
    color: #F9B004;
}

#logo {
    
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    font-size: 3.313rem;
    line-height: 75px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* navigation links */

#menu {
    font-size: 1.5rem;
    margin-top: 30px;
    line-height: 75px;
    display: flex;
    flex-wrap: wrap;
}

#menu li{
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
    
}



#menu a:hover {
    text-decoration: underline;
    color: #F9B004;
}

#menu .active {
    text-decoration: underline;
    color: #F9B004;
}

/* home page main section */

.main {
    
    text-align: center;
    margin: auto;
    padding-top: 6rem;
}

.main div {
    padding: 3rem;
}

.mainlist li {
    list-style-type: none;
    margin-bottom: 1rem;
}

/* home page newsletter section */

.newsletter {
    text-align: center;
    margin: auto;
}

.newsletter p {
    padding: 3rem 3rem 0;
}

.newsletter form {
    padding: 3rem;
}

.newsletter input {
    display: block;
    margin: auto;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.7);
}

.newsletter input:focus {
    background-color: white;
}

/* social media links */

.socialmedia-links {
    text-align: center;
}

.socialmedia-links li {
    display: inline-block;
}

.socialmedia-links i {
    margin: 3rem;
    font-size: 2rem;
    color: #C7C8C0;
}

.socialmedia-links i:hover {
    color: #F9B004;
}

/* classes page background*/

.lotus-bg {
    background-image: url(../images/lotus-bg.jpg);
    background-color: #C7C8C0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* classes page, headings and classes section*/

.classes h2, .prices h2 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.schedule {
    font-size: 1rem;
    
}


.yogaclasses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.yogaclasses div {
    text-align: left;
    margin: 0 2rem 2rem;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 600px;
}

.yogaclasses p {
    padding: 1rem;
}

.yoga-styles {
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


/* classes page, pricing section*/

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.pricebox {
    padding: 3rem;
    margin: 1rem;
    width: 200px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    text-align: center;
}

.pricebox p {
    font-size: 2rem;
}

hr {
    border: 1px solid #000000;
}

.prices {
    padding-bottom: 2rem;
}

.contact-us {
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    width: 50%;
}

.contact-us a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    background-color: #F9B004;
    color: white;
    border-radius: 20px;
    width: 100px;
    margin: 1rem auto 0;
}



/* gallery */

.photogallery {
   
    margin: 2rem 0;
    padding: 1rem;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contact page */

.contact {
    padding: 2rem;
}

#align-center {
    text-align: center;
}

#contact-form input, #contact-form textarea {
    display: block;
    font-family: inherit;
    font-size: inherit;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 1rem;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.7);
}

#contact-form input:focus, #contact-form textarea:focus {
    background-color: white;
}

#contact-form label {
    padding: 0.5rem;
    margin: 1rem;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}


.wrapper > div {
    padding: 2rem;
    margin: 1rem;
}


#form {
    width: 500px;
    padding: 1rem;
}

#address {
    width: 500px;
    padding: 1rem;
    text-align: center;
}

#map {
    width: 500px;
    padding: 1rem;
}


iframe {
    width: 500px;
    height: 350px;
}

@media only screen and (max-width: 600px) {
  .socialmedia-links i {
    margin: 1rem;
    }
    #logo {
        font-size: 3rem;
    }
    #menu {
    font-size: 1rem;
    margin-top: 0;
    }

    #menu li {
    margin-right: 0; 
    }
    .main {
        padding-top: 3rem;
    }

    .yogaclasses div {
    
    margin: 0 1rem 1rem;
   
    }
    .pricebox p {
    font-size: 1.5rem;
    }
    .photogallery {
    margin: 0;
    }
    h2 {
    font-size: 1.5rem;
    }
    h3 {
    font-size: 1.2rem;
    }
    .wrapper > div {
    padding: 0; 
    margin: 0; 
    }
    #address {
    width: 300px;
    padding: 0.8rem;
    }
    #map {
    width: 300px;
    padding: 0.8rem;
    }
    iframe {
    width: 300px;
    height: 350px;
    }
    #form {
    width: 300px;
    padding: 0;
    }
    #contact-form input, #contact-form textarea {
    width: 250px;
    }
}

@media only screen and (max-width: 935px) {
    header {
    justify-content: center;
    align-items: center;
}
}

@media only screen and (max-width: 350px) {
    #menu a {
    
    padding: 5px 10px;
}
}

