@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    color: #000000;
    font-weight: 300;
}


.home-bg {
    background-image: url(../images/1-he-zhu-1YODHOIj46Q-unsplash.jpg);
    background-color: antiquewhite;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    clear: both;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Comfortaa, sans-serif;
    color: #000000;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.yellow {
    color: #F9B004;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 3.313rem;
    line-height: 75px;
}

/* navigation links */

#menu {
    font-size: 1.5rem;
    margin-top: 30px;
    line-height: 75px;
}

#menu li{
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
    border-radius: 20px;
    background-color: #DDDEE0;
    padding: 5px 15px;
    width: 3rem;
}

#topnav {
    float: right;
}

#menu a:hover {
    background-color: #FFFFFF;
}

#menu .active {
    background-color: #FFFFFF;
}

/* home page main section */

.main {
    clear: both;
    text-align: center;
    margin: auto;
    padding-top: 6rem;
}

.main div {
    padding: 3rem;
}

.mainlist li {
    list-style-type: none;
}

/* home page newsletter section */

.newsletter {
    text-align: center;
    margin: auto;
}

.newsletter form {
    padding: 3rem;
}

.newsletter input {
    display: block;
    margin: auto;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #FFFFFF;
}